# =====================
# Python
# =====================
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.egg-info/
dist/
build/

# =====================
# Jupyter Notebook
# =====================
.ipynb_checkpoints

# =====================
# Virtual Environments
# =====================
venv/
env/
ENV/
.venv/

# =====================
# IDEs and Editors
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# Operating System
# =====================
.DS_Store
Thumbs.db

# =====================
# Git LFS / Large Files
# =====================

*.h5
*.ckpt

# =====================
# Logs / Temp Files
# =====================
*.log
*.tmp
*.bak

# =====================
# Batch / Script Files (optional, only if problematic)
# =====================
# *.bat


# =====================
# Misc
# =====================
__pycache__/

mlruns/
*.pt

*.pth

data/external/*
data/interim/*

debug_tests.py
sandra.md
