# local package
-e .

# data + ML frameworks
pandas
numpy
matplotlib
scikit-learn
seaborn
jupyterlab
pathlib2
joblib

# collaborative filtering / recommendation
# scikit-surprise
# conda install -c conda-forge scikit-surprise- for surprise package if pip has an issue
# deep learning / NLP
torch
nltk
transformers

# visualization / web
streamlit
plotly
flask

# experiment tracking
mlflow
python-dotenv
uvicorn[standard]
fastapi
python-multipart
aiofiles
starlette
requests
jinja2